*.jou
*.log
*.backup
/**/edk/*
!/**/edk/axi_subdesign.xmp
!/**/edk/axi_subdesign.mhs
/**/prj/*

/**/src/blk_mem_gen_v7_3_0/*
!/**/src/blk_mem_gen_v7_3_0/mem_64_4096.xci
/**/src/fifo_generator_v9_3_1/*
!/**/src/fifo_generator_v9_3_1/fifo_sream.xci
/**/src/fifo_generator_v9_3_0/*
!/**/src/fifo_generator_v9_3_0/fifo_64_8.xci
/**/src/fifo_generator_v9_3_2/*
!/**/src/fifo_generator_v9_3_2/async_fifo_64.xci
/**/src/fifo_generator_v9_3_3/*
!/**/src/fifo_generator_v9_3_3/async_fifo_8.xci



/**/tcl/*
!/**/tcl/build_project.tcl
