##########################################################################
##  Clock pin inst
##########################################################################
NET "in_clk_50MHz" LOC = J16;
NET "in_clk_50MHz" IOSTANDARD = LVCMOS33;

##########################################################################
## ADC 1
##########################################################################
NET "adc1_lclk_p" LOC = B10;
NET "adc1_lclk_p" IOSTANDARD = LVDS_25;
NET "adc1_lclk_p" DIFF_TERM = "TRUE";
NET "adc1_lclk_n" LOC = A10;
NET "adc1_lclk_n" IOSTANDARD = LVDS_25;
NET "adc1_lclk_n" DIFF_TERM = "TRUE";

NET "adc1_fclk_p" LOC = B6;
NET "adc1_fclk_p" IOSTANDARD = LVDS_25;
NET "adc1_fclk_p" DIFF_TERM = "TRUE";
NET "adc1_fclk_n" LOC = A6;
NET "adc1_fclk_n" IOSTANDARD = LVDS_25;
NET "adc1_fclk_n" DIFF_TERM = "TRUE";


NET "Clock_gen_inst/clk_out_250MHz" TNM_NET = "clk250";
TIMESPEC TS_clk250 = PERIOD "clk250" 4 ns HIGH 50 %;

NET "Clock_gen_inst/clk_out_125MHz" TNM_NET = "clk125";
TIMESPEC TS_clk125 = PERIOD "clk125" 8 ns HIGH 50 %;

NET "adc1_data_receiver/hscs/gclk" TNM_NET = "lck1_div8";
TIMESPEC TS_lck1_div8 = PERIOD "lck1_div8" 8 ns HIGH 50 %;

NET "adc1_dx_a_p[0]" LOC = C4;
NET "adc1_dx_a_p[0]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_p[0]" DIFF_TERM = "TRUE";
NET "adc1_dx_a_n[0]" LOC = A4;
NET "adc1_dx_a_n[0]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_n[0]" DIFF_TERM = "TRUE";

NET "adc1_dx_b_p[0]" LOC = D5;
NET "adc1_dx_b_p[0]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_p[0]" DIFF_TERM = "TRUE";
NET "adc1_dx_b_n[0]" LOC = C5;
NET "adc1_dx_b_n[0]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_n[0]" DIFF_TERM = "TRUE";

NET "adc1_dx_a_p[1]" LOC = B5;
NET "adc1_dx_a_p[1]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_p[1]" DIFF_TERM = "TRUE";
NET "adc1_dx_a_n[1]" LOC = A5;
NET "adc1_dx_a_n[1]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_n[1]" DIFF_TERM = "TRUE";

NET "adc1_dx_b_p[1]" LOC = D6;
NET "adc1_dx_b_p[1]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_p[1]" DIFF_TERM = "TRUE";
NET "adc1_dx_b_n[1]" LOC = C6;
NET "adc1_dx_b_n[1]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_n[1]" DIFF_TERM = "TRUE";

NET "adc1_dx_a_p[2]" LOC = F7;
NET "adc1_dx_a_p[2]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_p[2]" DIFF_TERM = "TRUE";
NET "adc1_dx_a_n[2]" LOC = E6;
NET "adc1_dx_a_n[2]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_n[2]" DIFF_TERM = "TRUE";

NET "adc1_dx_b_p[2]" LOC = C7;
NET "adc1_dx_b_p[2]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_p[2]" DIFF_TERM = "TRUE";
NET "adc1_dx_b_n[2]" LOC = A7;
NET "adc1_dx_b_n[2]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_n[2]" DIFF_TERM = "TRUE";

NET "adc1_dx_a_p[3]" LOC = B8;
NET "adc1_dx_a_p[3]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_p[3]" DIFF_TERM = "TRUE";
NET "adc1_dx_a_n[3]" LOC = A8;
NET "adc1_dx_a_n[3]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_n[3]" DIFF_TERM = "TRUE";

NET "adc1_dx_b_p[3]" LOC = C9;
NET "adc1_dx_b_p[3]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_p[3]" DIFF_TERM = "TRUE";
NET "adc1_dx_b_n[3]" LOC = A9;
NET "adc1_dx_b_n[3]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_n[3]" DIFF_TERM = "TRUE";

###########################################################################
## ADC 2
###########################################################################

NET "adc2_lclk_p" LOC = E7;
NET "adc2_lclk_p" IOSTANDARD = LVDS_25;
NET "adc2_lclk_p" DIFF_TERM = "TRUE";
NET "adc2_lclk_n" LOC = E8;
NET "adc2_lclk_n" IOSTANDARD = LVDS_25;
NET "adc2_lclk_n" DIFF_TERM = "TRUE";

NET "adc2_data_receiver/hscs/gclk" TNM_NET = "lck2_div8";
TIMESPEC TS_lck2_div8 = PERIOD "lck2_div8" 8 ns HIGH 50 %;

NET "adc2_fclk_p" LOC = E10;
NET "adc2_fclk_p" IOSTANDARD = LVDS_25;
NET "adc2_fclk_p" DIFF_TERM = "TRUE";
NET "adc2_fclk_n" LOC = C10;
NET "adc2_fclk_n" IOSTANDARD = LVDS_25;
NET "adc2_fclk_n" DIFF_TERM = "TRUE";


NET "adc2_dx_a_p[0]" LOC = D8;
NET "adc2_dx_a_p[0]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_p[0]" DIFF_TERM = "TRUE";
NET "adc2_dx_a_n[0]" LOC = C8;
NET "adc2_dx_a_n[0]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_n[0]" DIFF_TERM = "TRUE";

NET "adc2_dx_b_p[0]" LOC = F9;
NET "adc2_dx_b_p[0]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_p[0]" DIFF_TERM = "TRUE";
NET "adc2_dx_b_n[0]" LOC = D9;
NET "adc2_dx_b_n[0]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_n[0]" DIFF_TERM = "TRUE";

NET "adc2_dx_a_p[1]" LOC = C11;
NET "adc2_dx_a_p[1]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_p[1]" DIFF_TERM = "TRUE";
NET "adc2_dx_a_n[1]" LOC = A11;
NET "adc2_dx_a_n[1]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_n[1]" DIFF_TERM = "TRUE";

NET "adc2_dx_b_p[1]" LOC = B12;
NET "adc2_dx_b_p[1]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_p[1]" DIFF_TERM = "TRUE";
NET "adc2_dx_b_n[1]" LOC = A12;
NET "adc2_dx_b_n[1]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_n[1]" DIFF_TERM = "TRUE";

NET "adc2_dx_a_p[2]" LOC = F10;
NET "adc2_dx_a_p[2]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_p[2]" DIFF_TERM = "TRUE";
NET "adc2_dx_a_n[2]" LOC = E11;
NET "adc2_dx_a_n[2]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_n[2]" DIFF_TERM = "TRUE";

NET "adc2_dx_b_p[2]" LOC = D11;
NET "adc2_dx_b_p[2]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_p[2]" DIFF_TERM = "TRUE";
NET "adc2_dx_b_n[2]" LOC = D12;
NET "adc2_dx_b_n[2]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_n[2]" DIFF_TERM = "TRUE";

NET "adc2_dx_a_p[3]" LOC = C13;
NET "adc2_dx_a_p[3]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_p[3]" DIFF_TERM = "TRUE";
NET "adc2_dx_a_n[3]" LOC = A13;
NET "adc2_dx_a_n[3]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_n[3]" DIFF_TERM = "TRUE";

NET "adc2_dx_b_p[3]" LOC = B14;
NET "adc2_dx_b_p[3]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_p[3]" DIFF_TERM = "TRUE";
NET "adc2_dx_b_n[3]" LOC = A14;
NET "adc2_dx_b_n[3]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_n[3]" DIFF_TERM = "TRUE";

NET "xc_sys_rstn" LOC = C3;
NET "xc_sys_rstn" IOSTANDARD = LVCMOS33;

#############################################################################
##  Status Pin
#############################################################################

NET "adc1_data_valid" LOC = R16;
NET "adc1_data_valid" IOSTANDARD = LVCMOS33;

NET "adc2_data_valid" LOC = R15;
NET "adc2_data_valid" IOSTANDARD = LVCMOS33;

NET "adc_calib_done" LOC = L13;
NET "adc_calib_done" IOSTANDARD = LVCMOS33;

NET "main_pll_lock" LOC = L12;
NET "main_pll_lock" IOSTANDARD = LVCMOS33;

#############################################################################
## SPI
#############################################################################

NET "fpga_mosi" LOC = P16;
NET "fpga_mosi" IOSTANDARD = LVCMOS33;
NET "fpga_miso" LOC = N16;
NET "fpga_miso" IOSTANDARD = LVCMOS33;
NET "fpga_cs" LOC = P15;
NET "fpga_cs" IOSTANDARD = LVCMOS33;
NET "fpga_sck" LOC = K14;
NET "fpga_sck" IOSTANDARD = LVCMOS33;

###############################################################################
## QSPI
###############################################################################



NET "spifi_cs" LOC = F2;
NET "spifi_cs" IOSTANDARD = LVCMOS33;
NET "spifi_sck" LOC = H3;
NET "spifi_sck" IOSTANDARD = LVCMOS33;
NET "spifi_miso" LOC = G1;
NET "spifi_miso" IOSTANDARD = LVCMOS33;
NET "spifi_mosi" LOC = F1;
NET "spifi_mosi" IOSTANDARD = LVCMOS33;
NET "spifi_sio2" LOC = H2;
NET "spifi_sio2" IOSTANDARD = LVCMOS33;
NET "spifi_sio3" LOC = H1;
NET "spifi_sio3" IOSTANDARD = LVCMOS33;

NET "pulse_out_p" IOSTANDARD = DIFF_SSTL3_II;
NET "pulse_out_n" LOC = B16;
NET "pulse_out_p" LOC = B15;
